@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/common/windowDiv.css" rel="stylesheet" />
<div style="width: 100%">
    <input id="btnAdd" name="btnAdd" type="button" value="添加" class="btn-success" onclick="openWindow()" />
    <table class="table">
        <thead>
            <tr>
                <td>编号</td>
                <td>名称</td>
                <td>授权</td>
            </tr>
        </thead>
        <tbody id="showRole"></tbody>
    </table>
    <div class="pagination">
    </div>
</div>

<div id="windowMask"></div>
<div id="windowDiv">
    <ul style="top: 30px; position: relative;">
        <li>
            角色名称:<input id="RoleName" type="text" />
        </li>
        <li style="height: 5px;"></li>
        <li>
            <input id="btnSave" type="button" value="保存" onclick="save()" />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <input id="btnCalse" type="button" value="取消" onclick="closeWindow()" />
        </li>
    </ul>
</div>
<script src="~/Scripts/App/Pager.js"></script>
<script src="~/Scripts/Common/sysrole.js"></script>

