@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title> ZTREE DEMO - Simple Data</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="~/Content/zTree-zTree_v3-master/zTree_v3/css/demo.css" rel="stylesheet" />
    <link href="~/Content/zTree-zTree_v3-master/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Content/zTree-zTree_v3-master/zTree_v3/js/jquery-1.4.4.min.js"></script>
    <script src="~/Content/zTree-zTree_v3-master/zTree_v3/js/jquery.ztree.core-3.5.js"></script>
    <script src="~/Content/zTree-zTree_v3-master/zTree_v3/js/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript">
        var setting = {
            check: {
                enable: true
            },

            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onCheck: zTreeOnCheck
            }
        };


        function getData() {
            var zNodes = "";
            $.ajax({
                url: "/SysTemplate/GetTreeTest",
                async: false,
                type: "post",
                success: function (json) {
                    zNodes = json;
                }
            });
            return zNodes;
        }

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, getData());
        });

        function zTreeOnCheck(event, treeId, treeNode) {
            alert(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
        };
        function closeWindow() {
            $("#windowDiv").hide();
            $("#windowMask").hide();
            $("#Id").val("");
            $("#Template").val("");
            $("#TemplateUrl").val("");
            $("#ParentId").val("");
            $("#Lever").val();
        }
    </script>
</head>

<body>
    <div class="content_wrap">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</body>
</html>

<div id="windowMask"></div>
<div id="windowDiv">
    <ul style=" top:30px;   position:relative;">
        <li>
            模块名称:<input id="Template" type="text" />
        </li>
        <li>
            模块地址<input id="TemplateUrl" type="text" />
        </li>
        <li>
            <input id="btnAdd" type="button" value="保存" onclick="save()" />
            &nbsp;  &nbsp;  &nbsp;  &nbsp;
            <input id="btnCalse" type="button" value="取消" onclick="closeWindow()" />
        </li>
    </ul>
</div>
<input id="ParentId" type="hidden" />
<input id="Id" type="hidden" />
<input id="Lever" type="hidden" />
<style type="text/css">
    .ztree li span.button.add {
        margin-left: 2px;
        margin-right: -1px;
        background-position: -144px 0;
        vertical-align: top;
        *vertical-align: middle;
    }

    #windowDiv {
        display: none;
        position: absolute;
        width: 300px;
        height: 150px;
        z-index: 3;
        background-color: #1E1E1E;
        border: 1px solid #9CDFCE;
        list-style: none;
        color: white;
    }


        #windowDiv li {
            list-style: none;
            text-align: center;
            height: 25px;
            line-height: 30px;
        }

    #windowMask {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        background-color: black;
        display: none;
        z-index: 2;
    }
</style>