@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link rel="shortcut icon" href="/Images/logo.png" type="image/png">
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/login.min.css" rel="stylesheet" />
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-6">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>CRM</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>CRM 后台主题UI框架</strong></h4>
                    <strong>还没有账号？ <a href="/User/Register">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到CRM 后台主题UI框架</p>
                <input type="text" class="form-control uname" placeholder="账号" id="Account" />
                <input type="password" class="form-control pword m-b" placeholder="密码" id="Password" />
                <a href="">忘记密码了？</a>
                <button class="btn btn-success btn-block" onclick="login()">登录</button>
            </div>
        </div>
        <div class="signup-footer">
            <div class="text-center">
                &copy; @DateTime.Now.Year - Armys版权所有
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function login() {
        $.ajax({
            url: '/Login/Logins',
            async: false,
            type: "post",
            data: { Account: $("#Account").val(), Password: $("#Password").val() },
            success: function (json) {
                if (json != null) {
                    if (json.Flag) {
                        window.location.href = "/Home/Index";
                    } else {
                        alert(json.Message);
                        $("#Account").val("");
                        $("#Password").val("");
                    }
                }
            }
        });
    }
</script>

