@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Re.Models;
@using Models;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/common/windowDiv.css" rel="stylesheet" />
    
</head>

<body>
    <div style="width: 100%">
        @if (CompetenceMethod.ActionFlag(CompetenceModel.TemplateActionAdd))
        {
            <input id="btnAdd" name="btnAdd" type="button" value="添加" class="btn-success" onclick="openWindow()" />
        }
        <table class="table">
            <thead>
                <tr>
                    <td>选择</td>
                    <td>编号</td>
                    <td>栏目名称</td>
                    <td>栏目编码</td>
                    <td>所属栏目</td>
                    <td>类型</td>
                    <td>有效性</td>
                    <td>视图控制器</td>
                </tr>
            </thead>
            <tbody id="showTemplate"></tbody>
        </table>
    </div>
    <div class="content_wrap">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</body>
</html>
<div id="windowMask"></div>
<div id="windowDiv">
    <ul style="top: 30px; position: relative; text-align: center; list-style: none">
        <li>
            模块名称:<input id="Template" type="text" />
        </li>
        <li class="liSpace"></li>
        <li>
            模块地址:<input id="TemplateUrl" type="text" />
        </li>
        <li class="liSpace"></li>
        <li>模块编码:<input id="TemplateCode" type="text" /></li>
        <li class="liSpace"></li>
        <li>
            <input id="btnAdd" type="button" value="保存" onclick="
                save()" />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <input id="btnCalse" type="button" value="取消" onclick="
                closeWindow()" />
        </li>
    </ul>
</div>
<input id="ParentId" type="hidden" value="0" />
<input id="Lever" type="hidden" value="0" />
<input id="Type" type="hidden" value="0"/>
<script src="~/Scripts/Common/sysTemplate.js"></script>
